<div>
  <h1><%= @book.title %></h1>
  <h2><%= @book.author %></h2
  <h3><%= @book.description %></h3>
  <h5><%= @book.url %></h5>
</div>


<div class="button">
  <a href="/books/<%=@book.id%>/reviews/new">Review book</a>
</div>
